
@{
    ViewBag.Title = "add_product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>add_product</h2>
<form action="add_product1" id="sk" name="sk">
    <table>
        <tr>
            <td>product id</td>
            <td><input type="number"  id="id" name="id" /></td>
        </tr>
        <tr>
            <td>product name</td>
            <td><input type="text"  id="prdname" name="prdname" /></td>
        </tr>
        <tr>
            <td>Product catg</td>
            <td><input type="text"  id="prdc" name="prdc" /></td>
        </tr>
        <tr>
            <td>roduct price</td>
            <td><input type="text"  id="prdpr" name="prdpr" /></td>
        </tr>
        <tr>
            <td><input type="submit" vlaue="Update" /></td>
        </tr>
    </table>
</form>
