
@{
    ViewBag.Title = "Customer_Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer_Login</title>
</head>
<body>
    <h1>Welcome Customer Login Page</h1>
    <form id="form1" action="prod1" method="post">
        <table>
            <tr>
                <td>UserName</td>
                <td><input type="text" id="text1" name="text1" /></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="text" id="text2" name="text2" /></td>
            </tr>
            <tr>
                <td><input type="submit" id="submit1" name="submit1" value="Login" /></td>
                <td>@ViewBag.status</td>
            </tr>
        </table>
    </form>
    @Html.ActionLink("New User Click Here For Register", "Register")
</body>
</html>
