@model List<myproj.product>
@{
    ViewBag.Title = "prd_page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>prd_page_admin</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>prd_page</title>
</head>
<body>
    <hr />
    <hr />
    <select id="Select1" name="select1">
        <option>Select Different Product on Choice</option>
        <option>Laptop</option>
        <option>Mobiles</option>
        <option>Books</option>
        <option>Dresses</option>
    </select>
    <input type="Button" id="b1" value="  Search Product" />
    <hr />
    @Html.ActionLink("Add Product","add_product")
    <table class="table table-striped table-bordered" style="width:auto">
        <tr><th>Names (click to open)</th><th>Action</th></tr>
        @foreach (var x in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(x.prodname, "prd_details", new { x.prodid })
                </td>
                <td>
                    @Html.ActionLink("Edit","prd_details_admin",new {x.prodid, a="edit"})
                </td>
                <td>
                    @Html.ActionLink("Detele", "prd_details_admin", new {x.prodid, a = "delete" })
                </td>
            </tr>
        }
    </table>
    <hr />
    <hr />
</body>
</html>

