
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register</h2>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <h1>Welcome WebShopping Portal</h1>
    <hr /><hr />
    <h1>Customer Registration Form</h1>
    <hr />
    <form id="form1" action="Register1" method="post">
        <table width="40%" border="1" bgcolor="yellow">
            <tr>
                <td>UserName</td>
                <td><input type="text" id="text1" name="text1" /></td>
            </tr>

            <tr>
                <td>Password</td>
                <td><input type="text" id="text2" name="text2" /></td>
            </tr>

            <tr>
                <td>Re-Enter Password</td>
                <td><input type="text" id="text3" name="text3" /></td>
            </tr>

            <tr>
                <td>Address</td>
                <td><input type="text" id="text4" name="text4" /></td>
            </tr>

            <tr>
                <td>Email</td>
                <td><input type="text" id="text5" name="text5" /></td>
            </tr>

            <tr>
                <td>Phone</td>
                <td><input type="text" id="text6" name="text6" /></td>
            </tr>

            <tr>
                <td><input type="submit" id="submit1" name="submit1" value="Register" /></td>
                <td></td>
            </tr>
        </table>
    </form>
</body>
</html>


